body {
  background-color: rgb(243, 220, 191);
  font-family: 'Poppins', sans-serif;
  color: rgba(55, 55, 55, 0.90);
  font-size: 16pt;
  line-height: normal;
  font-weight: 500;
  text-align: justify;
}

.header {
  text-align: center;
  color: white;
}

.container {
  width: 875px;
  margin: 0 auto;
}

.button {
  color:rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-weight: bolder;
  background-color:  rgba(200, 96, 22, 0.75);
  border-radius: 10%;
  padding: 3px;
  box-shadow: 0 10px 30px  rgba(200, 96, 22, 0.75);
}

.card {
  background-color:rgba(242, 233, 222, 0.648);
  border:rgba(15, 15, 15, 1);
  margin: 35px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,.25);
  border-radius: 10px;
}

.button:hover {
  color: rgba(55, 55, 55, 0.90);
}

h1 {
  font-weight: 600;
  font-size: 22pt;
  color:rgba(15, 15, 15, 1);
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 16pt;
  color:rgba(30, 30, 30, 0.85);
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 16pt;
  color:rgba(30, 30, 30, 0.75)
}

#profilepic {
  width: 450px;
  border-radius: 35%;
  margin-left: 170px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: 210px;
}

.list-inline:hover {
  color: black;
}

.list-inline > li {
  display: inline;
  padding: 0px 20px;
  font-size: xxx-large;
}

.fa-brands:hover {
    color: black;
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 760px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
